{% extends "base.twig" %}

{% block title %}Start{% endblock %}

{% block content %}
<div class="wrapper">
  <h2>Dienstpläne</h2>

  <ul>
    {% for plan in plans %}
    <li><a href="/app/plan/{{plan.id}}" class="main-text">{{plan.name}}</a></li>
    {% endfor %}
  </ul>
  {% if user.isAdmin %}
  <a href="/app/newplan"><i class="material-icons">add</i>neuen Dienstplan anlegen</a>
  {% endif %}
</div>
{% endblock %}