#splash {
  background: $primary-color;
  color: white;
  font-size: 3rem;
  text-align: center;
  line-height: 200px;
}
@media (max-width: 440px) {
  #splash {
    font-size: 2rem;
    line-height: 80px;
  }
}

.login-area {
  margin: 48px auto;
  width: 100%;
  max-width: 480px;
}