{% extends "base.twig" %}

{% block title %}Login{% endblock %}

{% block content %}
  <section id="splash">
    Dienstplan KKH
  </section>
  {% if hasError %}<section id="error-msg">{{ errorMsg }}</section>{% endif %}
  <div style="padding: 16px;">
    <section class="login-area card">
      <h3>Login</h3>
      <form action="/login{{loginGoto}}" method="POST">
        <input type="email" name="email" placeholder="E-Mail">
        <input type="password" name="password" placeholder="Passwort">
        <input type="submit" value="einloggen">
      </form>
    </section>
    <section class="login-area card">
      <h3>Passwort vergessen</h3>
      <form action="/forgotpwd" method="POST">
        <input type="email" name="email" placeholder="E-Mail">
        <input type="submit" value="Password zurücksetzen">
      </form>
    </section>
    <section class="login-area" style="text-align: center">
      &copy; Leander Berg, {{ currentYear }}. Licensed under <a href="/assets/LICENSE.txt" target="_blank">MIT License</a>.
    </section>
  </div>
{% endblock %}
